[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon=/usr/local/ide/pycharm/bin/pycharm.png
Exec="/usr/local/ide/pycharm/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
