# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial 
# synchronization phase can take
# 配置Leader接收Client初始化连接时耗时最长允许多少个tickTime
# 这里Client不是连接Zookeeper的应用
# 而是Zookeeper集群中连接到Leader的Follower
# 超过10个tickTime后Leader没有收到Client的响应，表明Client连接失败
initLimit=10

# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
# Leader与Follower之间发送请求和响应时，耗时最长不能超过多少个tickTime
syncLimit=5

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/usr/local/zookeeper/zookeeper/data
dataLogDir=/usr/local/zookeeper/zookeeper/log

# the port at which the clients will connect
clientPort=2181

# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60

#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3

# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

# 2888是本Follwer与Leader之间的通信端口
# 3888是Leader宕机，重新选举Leader时Follower之间的通信端口
# 伪集群模式下Host是同一台服务器，各个Zookeeper实例需要分配不同的通信端口，不能都是3888
# 注意在防火墙iptables中设置2181、2888、3888的端口过滤规则为ACCEPT
#
# 配置Zookeeper开机启动，即开机执行zkServer.sh start
server.1=master:2888:3888
server.2=slave-1:2888:3888
server.3=slave-2:2888:3888
