[user]
  name = pylrichard
  email = pylrichard@qq.com
[core]
  quotepath = false
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore_global
[i18n]
  logoutputencoding = utf8
  commitencoding = utf8
[alias]
  pm = push origin HEAD:refs/for/master
[credential]
  helper = cache --timeout=36000
[push]
  default = simple
[http]
  postBuffer = 1048576000
  sslVerify = true
[https]
  postBuffer = 1048576000
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
[interactive]
  diffFilter = diff-so-fancy --patch
